@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ProductSansRegular"; /*Can be any text*/
    src: url("/src/fonts/ProductSansRegular.ttf") format("truetype");
  }
  @font-face {
    font-family: "ProductSansBold"; /*Can be any text*/
    src: url("/src/fonts/ProductSansBold.ttf") format("truetype");
  }
  html {
    /* font-family: "ProductSansRegular"; */
    font-family: "PT Sans", sans-serif;
  }
}
